<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/seven2.png') }}"
      type="7-icon"
    />
    <title>Admin</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script>
      function redirectToCreateAccount() {
        window.location.href = "{{ url_for('create_account') }}";
      }
    </script>
  </head>

  <body>
    <div class="wrapper">
      <div class="toolbar">
        <img
          src="{{ url_for('static', filename='images/logo2.png') }}"
          alt="Quantum Garnet Casino"
        />
        <div class="toolbar-buttons">
          <a href="{{ url_for('home') }}" class="toolbar-button">Home</a>
          <a href="{{ url_for('about') }}" class="toolbar-button">About</a>
          <a href="{{ url_for('directory') }}" class="toolbar-button"
            >Directory</a
          >
          {% if session.get('logged_in') %}
          <a href="{{ url_for('account') }}" class="toolbar-button">Account</a>
          {% else %}
          <a href="{{ url_for('login') }}" class="toolbar-button">Login</a>
          {% endif %}
        </div>
      </div>
      <div class="account-container">
        <div class="login-form">
          <h2>Admin Options:</h2>
          <br /><br />
          <button onclick="redirectToCreateAccount()" class="btn-submit">
            Create Account
          </button>
          <button class="btn-submit">Create Promotions</button>
        </div>
      </div>
    </div>
  </body>
</html>
