<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/seven2.png') }}"
      type="7-icon"
    />
    <title>Slot Machine Directory</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>

  <body>
    <!-- Wrapper for entire page content -->
    <div class="wrapper">
      <!-- Toolbar with navigation buttons -->
      <div class="toolbar">
        <!-- Logo -->
        <img
          src="{{ url_for('static', filename='images/logo2.png') }}"
          alt="Quantum Garnet Casino"
        />
        <div class="toolbar-buttons">
          <a href="{{ url_for('home') }}" class="toolbar-button">Home</a>
          <a href="{{ url_for('about') }}" class="toolbar-button">About</a>
          <a href="{{ url_for('directory') }}" class="toolbar-button"
            >Directory</a
          >
          <!-- If logged in, login button becomes account button. -->
          {% if session.get('logged_in') %}
          <a href="{{ url_for('account') }}" class="toolbar-button">Account</a>
          {% else %}
          <a href="{{ url_for('login') }}" class="toolbar-button">Login</a>
          {% endif %}
        </div>
      </div>

      <!-- Slot Machine Directory -->
      <div class="directory-container">
        <h1>Slot Machine Directory</h1>
        <div class="machine-grid">
          {% for machine in machines %}
          <div class="machine-card">
            <h3>{{ machine.name }}</h3>
            <div class="machine-details">
              <strong>Location:</strong>
              <span>{{ machine.location }}</span>

              <strong>Theme:</strong>
              <span>{{ machine.game_theme }}</span>

              <strong>Game Type:</strong>
              <span>{{ machine.game_type }}</span>

              <strong>Bet Range:</strong>
              <span
                >${{ machine.minimum_bet }} - ${{ machine.maximum_bet }}</span
              >
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
