<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/seven2.png') }}"
      type="image/png"
    />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>

  <body>
    <!-- Wrapper for entire page content -->
    <div class="wrapper">
      <!-- Toolbar with navigation buttons -->
      <div class="toolbar">
        <!-- Logo -->
        <img
          src="{{ url_for('static', filename='images/logo2.png') }}"
          alt="Quantum Garnet Casino"
        />
        <div class="toolbar-buttons">
          <a href="{{ url_for('home') }}" class="toolbar-button">Home</a>
          <a href="{{ url_for('about') }}" class="toolbar-button">About</a>
          <a href="{{ url_for('directory') }}" class="toolbar-button"
            >Directory</a
          >
          <!-- If logged in, login button becomes account button. -->
          {% if session.get('logged_in') %}
          <a href="{{ url_for('account') }}" class="toolbar-button">Account</a>
          {% else %}
          <a href="{{ url_for('login') }}" class="toolbar-button">Login</a>
          {% endif %}
        </div>
      </div>
      <div class="container">
        <div class="rectangular-container">
          <div class="media-card">
            <!-- Slot Map -->
            <div class="card-image">
              <img
                src="{{ url_for('static', filename='images/slots.png') }}"
                alt="Sample Image"
              />
              <a href="{{ url_for('slot_map') }}" class="cta-button"
                >Slot Map</a
              >
            </div>
          </div>
        </div>
        <div class="rectangular-container">
          <div class="media-card">
            <!-- Promotions -->
            <div class="card-image">
              <img
                src="{{ url_for('static', filename='images/casino.jpg') }}"
                alt="Sample Image"
              />
              <a href="{{ url_for('promotions') }}" class="cta-button"
                >Promotions</a
              >
            </div>
          </div>
        </div>
        <div class="rectangular-container">
          <div class="media-card">
            <!-- QG Rewards -->
            <div class="card-image">
              <img
                src="{{ url_for('static', filename='images/gambling.png') }}"
                alt="Sample Image"
              />
              <a href="{{ url_for('rewards') }}" class="cta-button"
                >QG Rewards</a
              >
            </div>
          </div>
        </div>
        <div class="rectangular-container">
          <div class="media-card">
            <!-- Big Winners -->
            <div class="card-image">
              <img
                src="{{ url_for('static', filename='images/roulette.png') }}"
                alt="Sample Image"
              />
              <a href="{{ url_for('big_winners') }}" class="cta-button"
                >Big Winners</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
