:root {
  --red-gradient: linear-gradient(
    207deg,
    rgba(120, 8, 8, 1) 19%,
    rgba(255, 0, 0, 1) 63%,
    rgba(120, 8, 8, 1) 100%
  );
  --dark-gradient: linear-gradient(
    207deg,
    rgba(120, 8, 8, 1) 19%,
    rgba(60, 21, 21, 1) 63%,
    rgba(120, 8, 8, 1) 100%
  );
  --submit-red: #a20000;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  display: grid;
  background-image: url("../images/blackBG.png");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  height: 100vh;
  width: 100%;
}

.toolbar {
  grid-column: span 5 / span 5;

  background-image: url("../images/gold-BG.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  height: 6.5rem;
  width: 100%;
  justify-content: space-between;
}

.toolbar img {
  max-width: 33%;
  height: auto;
}

.toolbar-buttons {
  display: flex;
  gap: 30px;
  margin-right: 2rem;
}

.toolbar-button {
  padding: 10px 20px;
  font-size: 1rem;
  width: 7rem;
  border: none;
  border-radius: 50px;
  background: var(--red-gradient);
  color: white;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toolbar-button:hover {
  background: var(--dark-gradient);
}

a {
  text-decoration: none;
}

.left-side {
  grid-column: span 2 / span 2;
  grid-row: span 7 / span 7;
  grid-row-start: 2;

  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-left: 2rem;
  height: 94%;
}

.searchbar {
  display: block;
  padding: 0.25rem;
  position: relative;
}

.search-input {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  font-size: 1.25rem;
  padding: 1.5rem;
}

.right-side {
  grid-column: span 3 / span 3;
  grid-row: span 7 / span 7;
  grid-column-start: 3;
  grid-row-start: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.floorplan-container {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.floorplan-container img {
  width: 100%;
  height: auto;
}

.interactive-star {
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../images/seven.png");
  background-size: cover;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  display: none;
  z-index: 10;
}

.interactive-star:hover + .tooltip {
  display: block;
}

.zoom-controls {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.zoom-button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  background-color: lightgray;
  border: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 20px;
  grid-column: span 5 / span 5;
  margin: 1rem;
}

.rectangular-container {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 1rem;
  width: 100%;
  height: 85vh;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.media-card {
  max-width: 34rem;
  overflow: hidden;
}

.card-image {
  position: relative;
}

.card-image img {
  width: 100%;
  height: 930px;
  object-fit: cover;
  border-radius: 1rem;
}

.cta-button {
  position: absolute;
  width: 100%;
  bottom: 25rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background: var(--submit-red);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 3.5rem;
  font-size: clamp(1.5rem, 3vw, 3.5rem);
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: darkred;
}

.account-container {
  grid-column: 2 / 5;
  grid-row: 3 / 6;
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  margin: auto;
  width: 60%;
  padding: 3rem;
  font-size: 1.5rem;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"],
.login-form input[type="date"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.login-form input[type="submit"] {
  width: 92%;
  padding: 10px;
  background: var(--submit-red);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin: 0.5rem;
}

.btn-submit {
  background-color: var(--submit-red);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: darkred;
}

.flipbook {
  grid-column: 2 / 5;
  grid-row: 3 / 6;
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  margin: auto;
  width: 60%;
  padding: 3rem;
  font-size: 1.5rem;
}

.flipbook-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 50px auto;
  overflow: hidden;
}

.flipbook-wrapper {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.flipbook-page {
  min-width: 100%;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  overflow-y: auto;
}

/* Title row (thin) */
.flipbook-title {
  text-align: center;
}

/* Content row (thicker) */
.flipbook-content {
  padding: 20px;
  font-size: 1.2rem;
  overflow-y: auto;
}

.flipbook-buttons-row {
  display: flex;
  justify-content: center;
}

.flipbook-button {
  background-color: var(--submit-red);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.flipbook-button:hover {
  background: var(--dark-gradient);
}

.flipbook-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 1rem;
}
