:root {
  /* Size Variables */
  --margin-zero: 0rem;
  --margin-xsmall: 0.3125rem;
  --margin-small: 0.5rem;
  --margin-base: 1rem;
  --margin-medium: 1.25rem;
  --margin-large: 2rem;
  --margin-xlarge: 3.125rem;

  --gap-zero: 0rem;
  --gap-base: 1rem;
  --gap-small: 1.25rem;
  --gap-medium: 1.875rem;
  --gap-large: 2.5rem;

  --padding-xsmall: 0.325rem; /* 5px -> 0.3125rem */
  --padding-small: 0.625rem; /* 10px -> 0.625rem */
  --padding-base: 1.25rem; /* 20px -> 1.25rem */
  --padding-medium: 1.5rem; /* 1.5rem */
  --padding-large: 2rem; /* 2rem */
  --padding-xlarge: 3rem; /* 3rem */

  --border-xxsmall: 0.0625rem;
  --border-xsmall: 0.25rem; /* 4px -> 0.25rem */
  --border-small: 0.325rem; /* 5px -> 0.3125rem */
  --border-base: 0.5rem; /* 8px -> 0.5rem */
  --border-medium: 0.625rem; /* 10px -> 0.625rem */
  --border-large: 1rem; /* 1rem */
  --border-xlarge: 3.125rem; /* 50px -> 3.125rem */

  --sizing-xsmall: 0.625rem; /* 10px -> 0.625rem */
  --sizing-small: 0.975rem; /* 15px -> 0.9375rem */
  --sizing-base: 4.375rem; /* 70px -> 4.375rem */
  --sizing-medium: 6.5rem; /* 6.5rem */
  --sizing-xlarge: 25rem; /* 25rem */
  --sizing-mc: 35rem;
  --sizing-xxlarge: 58.125rem; /* 930px -> 58.125rem */

  --font-size-small: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 3.5rem;

  /* Color variables. */
  --red-gradient: linear-gradient(
    207deg,
    rgba(120, 8, 8, 1) 19%,
    rgba(255, 0, 0, 1) 63%,
    rgba(120, 8, 8, 1) 100%
  );
  --dark-gradient: linear-gradient(
    207deg,
    rgba(120, 8, 8, 1) 19%,
    rgba(60, 21, 21, 1) 63%,
    rgba(120, 8, 8, 1) 100%
  );
  --submit-red: #a20000;
  --hover-dark-red: darkred;
  --outer-container-white: rgba(255, 255, 255, 0.9);
  --white: white;
  --black: rgba(0, 0, 0, 0.2);
  --light-gray: #ccc;
}

body {
  margin: var(--margin-zero);
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  display: grid;
  background-image: url("../images/blackBG.png");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: var(--gap-large);
  grid-row-gap: var(--gap-zero);
  height: 100vh;
  width: 100%;
}

.toolbar {
  grid-column: span 5 / span 5;

  background-image: url("../images/gold-BG.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  height: var(--sizing-medium);
  width: 100%;
  justify-content: space-between;
}

.toolbar img {
  max-width: 33%;
  height: auto;
}

.toolbar-buttons {
  display: flex;
  gap: var(--gap-medium);
  margin-right: var(--margin-large);
}

.toolbar-button {
  padding: var(--padding-small) var(--padding-base);
  font-size: var(--font-size-small);
  width: var(--sizing-medium);
  border: none;
  border-radius: var(--border-xlarge);
  background: var(--red-gradient);
  color: var(--white);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toolbar-button:hover {
  background: var(--dark-gradient);
}

a {
  text-decoration: none;
}

.left-side {
  grid-column: span 2 / span 2;
  grid-row: span 7 / span 7;
  grid-row-start: 2;

  background-color: var(--outer-container-white);
  padding: var(--padding-base);
  margin-left: var(--margin-large);
  height: 94%;
}

.searchbar {
  display: block;
  padding: var(--padding-xsmall);
  position: relative;
}

.search-input {
  width: 100%;
  height: var(--sizing-base);
  border-radius: var(--border-medium);
  font-size: var(--font-size-medium);
  padding: var(--padding-medium);
}

.right-side {
  grid-column: span 3 / span 3;
  grid-row: span 7 / span 7;
  grid-column-start: 3;
  grid-row-start: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: var(--padding-base);
}

.floorplan-container {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.floorplan-container img {
  width: 100%;
  height: auto;
}

.interactive-star {
  position: absolute;
  width: var(--sizing-small);
  height: var(--sizing-small);
  background-image: url("../images/seven.png");
  background-size: cover;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.tooltip {
  position: absolute;
  background-color: var(--white);
  border: var(--border-xxsmall) solid var(--black);
  padding: var(--padding-xsmall);
  display: none;
  z-index: 10;
}

.interactive-star:hover + .tooltip {
  display: block;
}

.zoom-controls {
  position: fixed;
  top: var(--sizing-xsmall);
  right: var(--sizing-xsmall);
  z-index: 100;
}

.zoom-button {
  padding: var(--padding-small);
  margin: var(--margin-xsmall);
  cursor: pointer;
  background-color: var(--light-gray);
  border: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: var(--gap-small);
  grid-row-gap: var(--gap-small);
  padding: var(--padding-base);
  grid-column: span 5 / span 5;
  margin: var(--margin-base);
}

.rectangular-container {
  border: var(--border-xxsmall) solid var(--light-gray);
  border-radius: var(--border-large);
  width: 100%;
  height: var(--sizing-xxlarge);
  margin: auto;
}

.media-card {
  max-width: var(--sizing-mc);
  overflow: hidden;
}

.card-image {
  position: relative;
}

.card-image img {
  width: 100%;
  height: var(--sizing-xxlarge);
  object-fit: cover;
  border-radius: var(--border-large);
}

.cta-button {
  position: absolute;
  width: 100%;
  bottom: var(--sizing-xlarge);
  left: 50%;
  transform: translateX(-50%);
  padding: var(--padding-small) var(--padding-base);
  background: var(--submit-red);
  color: var(--white);
  border: none;
  border-radius: var(--border-small);
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-xlarge);
  font-size: clamp(var(--font-size-large), 3vw, var(--font-size-xlarge));
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: var(--hover-dark-red);
}

.account-container {
  grid-column: 2 / 5;
  grid-row: 3 / 6;
  display: flex;
  background-color: var(--outer-container-white);
  padding: var(--padding-large);
  border-radius: var(--border-medium);
  margin: auto;
  width: 60%;
  padding: var(--padding-xlarge);
  font-size: var(--font-size-large);
}

.login-form {
  background-color: var(--outer-container-white);
  padding: var(--padding-large);
  border-radius: var(--border-base);
  box-shadow: 0 4px 8px var(--black);
  text-align: center;
  width: 100%;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"],
.login-form input[type="date"] {
  width: 90%;
  padding: var(--padding-small);
  margin-bottom: var(--margin-base);
  border: var(--border-xxsmall) solid var(--light-gray);
  border-radius: var(--border-xsmall);
  font-size: var(--font-size-small);
}

.login-form input[type="submit"] {
  width: 92%;
  padding: var(--padding-small);
  background: var(--submit-red);
  color: var(--white);
  border: none;
  cursor: pointer;
  border-radius: var(--border-xsmall);
  font-size: var(--font-size-small);
  transition: background-color 0.3s;
  margin: var(--margin-small);
}

.btn-submit {
  background-color: var(--submit-red);
  color: var(--white);
  border: none;
  padding: var(--padding-small) var(--padding-base);
  font-size: var(--font-size-small);
  cursor: pointer;
  border-radius: var(--border-small);
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: var(--hover-dark-red);
}

.flipbook {
  grid-column: 2 / 5;
  grid-row: 3 / 6;
  display: flex;
  background-color: var(--outer-container-white);
  padding: var(--padding-large);
  border-radius: var(--border-medium);
  margin: auto;
  width: 60%;
  padding: var(--padding-xlarge);
  font-size: var(--font-size-large);
}

.flipbook-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: var(--margin-xlarge) auto;
  overflow: hidden;
}

.flipbook-wrapper {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.flipbook-page {
  min-width: 100%;
  background-color: var(--white);
  padding: var(--padding-base);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-xxsmall) solid var(--light-gray);
  overflow-y: auto;
}

.flipbook-title {
  text-align: center;
}

.flipbook-content {
  padding: var(--padding-base);
  font-size: var(--font-size-medium);
  overflow-y: auto;
}

.flipbook-buttons-row {
  display: flex;
  justify-content: center;
}

.flipbook-button {
  background-color: var(--submit-red);
  color: var(--white);
  border: none;
  padding: var(--padding-small) var(--padding-base);
  font-size: var(--font-size-small);
  cursor: pointer;
  border-radius: var(--border-small);
  transition: background-color 0.3s;
}

.flipbook-button:hover {
  background: var(--hover-dark-red);
}

.flipbook-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: var(--margin-medium);
  gap: var(--gap-base);
}
